<div class="container-fluid d-flex justify-content-center my-5">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-6 ms-5 ">
            <div class="d-flex g-4">
              <h1 class="me-2">This First Heading</h1><h1 class="text-secondary">Will Catch Your Eye</h1>
            </div>
            <div>
              <p class="fs-5">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
        </div>
        <div class="col-5"  style="width: 35%">
            <img src="https://github.com/4GeeksAcademy/exercise-collaborative-html-website-21-latan-equipo-2/blob/master/website/assets/img/1.jpg?raw=true" class="rounded-circle float-start ms-4" style="width: 55%" alt="...">
        </div>
    </div>
</div>
