<!-- your html code here -->
<div class="container-fluid bg-white mt-5">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h1>Porfolio</h1>
      <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis similique obcaecati deserunt fuga, dolores eos esse dicta iste corporis voluptatibus inventore dolor amet sint possimus! Ducimus consequuntur mollitia nam placeat?</p>
    </div>
    <div class="col-1"></div>

  </div>
  <div class="row container-fluid d-flex justify-content-center"> 
        <div class="col-3 card border-0">
            <img src="https://github.com/4GeeksAcademy/exercise-collaborative-html-website-21-latan-equipo-2/blob/master/website/assets/img/big-project-image.png?raw=true"  alt="project">
            <div class="card-body">
                <h4 class="text-primary">Project Name</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="col-3 card border-0">
            <img src="https://github.com/4GeeksAcademy/exercise-collaborative-html-website-21-latan-equipo-2/blob/master/website/assets/img/big-project-image.png?raw=true"  alt="project">
            <div class="card-body">
                <h4 class="text-primary">Project Name</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="col-3 card border-0">
            <img src="https://github.com/4GeeksAcademy/exercise-collaborative-html-website-21-latan-equipo-2/blob/master/website/assets/img/big-project-image.png?raw=true"  alt="project">
            <div class="card-body">
                <h4 class="text-primary">Project Name</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>   

