<div class="card text-bg-dark justify-content-center">
    <img src="../assets/img/photo_5053429813368433578_w.jpg" class="card-img" alt="">
    <div class="card-img-overlay d-flex align-items-center p-5 px-0">
        <div class="container-fluid px-0">
            <div class="row bg-white bg-opacity-50">
                <div class="col">
                    <h1 class="card-title text-center text-dark fw-normal p-5" style="font-size: 9rem">
                        <b>One Page Wonder</b>
                    </h1>
                </div>
            </div>
            <div class="row p-5"></div>
            <div class="row bg-white bg-opacity-50 p-5">
                <div class="col">
                    <h2 class="card-title text-center text-dark display-2" style="font-size: 5rem">
                        <b>Will knock Your Socks Off</b>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>